@media screen and (min-width: 320px), (min-width: 480px),
(min-width: 600px), (min-width:801px),
(min-width: 1080px),(min-width: 1920px), (min-width:2340px)
{
    body
    {
        background: linear-gradient(-0.2turn,#200764,#3c0e91);
        margin: 0;
        padding-top: 0;
    }


    /* ============================   MENU   =========================== */
    #menu 
    {
        background-color: #000000;
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        z-index: 3;
        font-weight: bold;
    }
    
    #menu a 
    {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    #menu li:hover
    {
        background: #14044e;
        color: white;
        text-decoration-line: none;
    }

    #menu button 
    {
        color:white;
    }

    #menu button:focus
    {
        border: none;
    }
    /* ============================   END MENU   =========================== */

    
    /* ============================   PRESENTATION SECTION   =========================== */
    .title
    {
        font-size: 20pt;
        font-weight: bold;
    }

    .subtitle
    {
        font-size: 16pt;
        font-weight: bold;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #apresentation_section 
    {
        color: white;
    }
    #apresentation_section #div_img_profile
    {
        display: block;
        margin-top: 15%;
        margin-bottom: 2%;
    }
    
    .img-circle
    {
        border-radius: 50%;
    }

    #apresentation_text_name
    {
        display: block;
        padding-right: 30%;
        padding-left: 30%;
        margin-bottom: 3%;
    }

    #apresentation_text_name hr 
    {
        border: 1px solid white;

    }

    .list_contacts 
    {
        margin-bottom: 3%;
        text-align: center;
    }

    .contact
    {
        width: 100%;
        margin: 25px;
    }
    .contact-2
    {
        width: 100%;
        margin: 0px;
       
    }
    /* ============================   END PRESENTATION SECTION   =========================== */


    /* ============================   ABOUT ME SECTION   =========================== */
    #about_me_section 
    {
        margin-top: 3%;
        background-color: #000000;
        color: white;
        padding-top: 3%;
        padding-bottom: 4%;
        font-size: 14pt;
    }

    #about_me_description
    {
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
    }
  
    .card_about_me
    {
        border: 2px solid white;
        border-radius: 15px;
        width: 300px;
        height: 200px;
        margin-top: 5%;
        padding-top: 5%;
        background-color: #195679;
    }

    .title_card_about_me
    {
        font-size: 16pt;
        font-weight: bold;
    }

    .fa
    {
        color: #F8BBD0;
    }
    /* ============================   END ABOUT ME SECTION   =========================== */


    /* ============================   SKILLS SECTION   =========================== */
    #skills_section
    {
        margin-top: 4%;
        color: white;
        padding-bottom: 4%;
        font-size: 14pt;
    }

    .card_service
    {
        border: 2px solid white;
        border-radius: 15px;
        width: 300px;
        height: 200px;
        margin-top: 5%;
        padding-top: 5%;
        background-color: #D81B60;
    }

    #skills_list
    {
        overflow: hidden;
        width: 100%;
        text-align: center;
        padding-left: 5%;
    }
    
    #skills_list div 
    {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .img_skills
    {
        width: 85px;
        height: 85px;
        color: white;
        border-radius: 10px;
    }

    #skills_list .fa-mobile
    {
        color:white;
    }

    .txt_card
    {
        font-size: 14pt;
        font-weight: bold;
    }

    #skills_list div a
    {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* ============================   END SKILLS SECTION   =========================== */


    /* ============================   PROJECTS SECTION   =========================== */
    #projects_section
    {
        padding-top: 3%;
        padding-bottom: 1.5%;
        background-color: #000000;
        color:white;
        font-size: 14pt;
        width: 100%;
    }

    .projects_description
    {
        margin: 0;
        padding: 3%;
        padding-top: 1%;
        display: inline-flex;
    }

    .projects_description p
    {
        padding-top: 1%;
    }

    
   
    
   
    .card {
        display: inline-block;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
        margin: 20px;
        position: relative;
        margin-bottom: 50px;
        transition: all .2s ease-in-out;
      }
      
      .card:hover {
        /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin-bottom: 54px;
      }
      
      .image {
        height: 200px;
        opacity: .7;
        overflow: hidden;
        transition: all .2s ease-in-out;
      }
      
      .image:hover,
      .card:hover .image {
        height: 200px;
        opacity: 1;
      }
      
      .text {
        background: #040420;
        padding: 20px;
        min-height: 200px;
      }
      
      .text p {
        margin-bottom: 0px;
      }
      
      .fab {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        margin-top: -50px;
        right: 20px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
        color: #fff;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        background: #1717a8;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
      }
      
      .fab:hover {
        background: #549D3C;
        cursor: pointer;
        -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
      }
    
    

   
    

}
